<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content" style="border: none!important; box-shadow: none !important;">
      <div class="modal-header" style="border-bottom:none;">
          <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button-->
          <h1 class="text-center">Welcome to {{userInformation.name}}</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
            <div class="form-group">
			<ul style="list-style: none;">
			  <li> <span class="input-lg"><b style="color:green">mayank</b>: jkgdqi edqd qwkdgwq rftw4 w4rfwrfw wrfwr</span></li>
			  <li style="text-align: right;"><span class="input-lg">dguwdg	gwdg erwq34rqf34f3f3ef34f : </span><b style="color:red">sanjay</b></li>
			  </ul>
            </div>
			
			<!--
            <div class="form-group">
              <input type="newpassword" class="form-control input-lg" placeholder="New Password">
            </div>
			<div class="form-group">
              <input type="confirmpassword" class="form-control input-lg" placeholder="Confirm Password">
            </div-->
            <!--div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Sign In</button>
              <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
            </div-->
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <!--button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button-->
		  </div>	
      </div>
  </div>
  </div>
</div>